parameters:
    param:
        NB_SLIDE: 3
        MAX_COMMENT: 10
        MAX_ITEM: 10
    Contact:
        EMAIL_WEBSITE_CONTACT: contactMe@gmail.com
    rssFeeds:
        RSS_VIDEO_NB_ITEM: 10
        RSS_VIDEO_FEED: 'http://vimeo.com/USerName/videos/rss'
        RSS_BLOG_NB_ITEM: 10
        RSS_BLOG_FEED: 'http://userName.wordpress.com/feed/'
    urls:
        EXTERNAL_BLOG: 'http://www.userName.wordpress.com'
        SHARE_DATA: 'http://monSiteDePartage.fr'