
@font-face 
{
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  src: local('Irish Grover'), local('IrishGrover'), url('fonts/IrishGrover.woff') format('woff');
}
@font-face 
{
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url('fonts/LaBelleAurore.woff') format('woff');
}

/*********************************************************************************/
/* Home personalisation                                                                */
/*********************************************************************************/
#myNav{ 
  background-color: #266BB2 !important;
}

.slider-wrapper { 
  width: 80%; 
  margin: 100px auto;
}

.homeSlider{
  width: 98%; 
  margin: 100px auto;

	/*margin: 10px  auto;
	display: block;
	width: 999px;*/
	padding-bottom: 20px;
}

#slider img{
  height: auto;
  max-width: 100%;
}

.homeSlider ul{
	margin-bottom: 0;
}

.rss{
	text-align: left;
}

.rss li{
	text-align: left;
	 list-style-type: disc;
	 display : list-item;
}

.author{
	text-decoration: underline;
}


.countdown { display: inline-block;}

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }
#footer h3 { text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; color: #266BB2;}


/* Carousel */
.timer {  }

div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }

/************* Ribbon **************/
.ribbonWrapper {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  /*overflow: hidden;*/
  position: absolute;
  top: -8px;
  right: 20px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}


/* test home container 960 !important au lieu 1200.........
/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
 /* .container{
  width: 1200px !important;
  }*/
  .homeSlider{
  width: 999px;
  }
}
/* Desktop
------------------------- */
@media (max-width: 980px) {
 /* body {
    width: 980px;
  }
  .container{
  width: 980px !important;
  }
  .homeSlider{
  width: 784px;
  }
}

/* Tablet to desktop
------------------------- *//*
@media (min-width: 768px) and (max-width: 979px) {
   body {
    width: 979px;
  }
  .container{
  width: 979px !important;
  }
  .homeSlider{
  width: 650px;
  }
}

/* Tablet
------------------------- *//*
@media (max-width: 767px) {
   body {
    width: 767px;
  }
  .container{
  width: 767px !important;
  }
  .homeSlider{
  width: 613px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
   /*body {
    width: 480px;
  }*/
  /*.container{
  width: 480 !important;
  }*/
  .homeSlider{
  margin: 20px auto;
  padding-bottom: 20px;
  }
  .orbit-wrapper.fluid .orbit-bullets {
    bottom:30px;
  }
    .hidden-phone {
    display: none !important;
  }
    .hidden-tablet {
    display: none !important;
  }
  .footer {
    margin: 0.5em 0 0;
  }
}
