 <article id="decompte">
    <header>
        <h2>Alice est née depuis</h2>
    </header>
    <div>
        <div class="row">
            <div class="12u">
                <div class="row">
                    <div class="12u">       
                        <div class="countdown">
                            <div id="countdown-blog"></div>
                            <script type="text/javascript" src="resources/js/countdown.js"></script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</atticle>