
    <article id="news">
        <header>
            <h2>Les Nouveautés</h2>
            <span>Regardez si vous avez vu les derniers ajouts ci dessous</span>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u">
                    <section class="box box-style1">

                        <h3>Commentaires</h3>
                        <p>de photos</p>
                    </section>
                </div>
                <div class="4u">
                    <section class="box box-style1">

                        <h3>En cours</h3>
                        <p>de développement</p>
                    </section>
                </div>
                <div class="4u">
                    <section class="box box-style1">

                        <h3>En cours</h3>
                        <p>de développement</p>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <p>Déjà tout vu, mais envie de se rendre sur l'un des sites?</p>
            <a href="#portfolio" class="button button-big">Voir les différents sites</a>
        </footer>
    </article>