
{% extends 'GbCreationWallBundle:Admin:items.layout.html.twig' %}

{% block item_title %}<h1>Liste des Vidéos</h1>{% endblock %}

{% block item_pagination %}
  <div class="pagination pagination-centered">
    <ul><li><a href="{{ path('gb_creation_admin_items_video_show', {'page':1}) }}">Voir avec pagination</a></li></ul>
  </div>
{% endblock %}
