
{% extends 'GbCreationWallBundle::admin.layout.html.twig' %}

{% block body %}
     
     <section id="accueil">
      <div class="page-header">
        <h1>Administration</h1>

    </section>

{% endblock %}