{% extends 'GbCreationWallBundle::admin.layout.html.twig' %}

{% block body %}
     
    <h2>Suppression</h2>
 
  <p>
    Etes-vous certain de vouloir supprimer ?
  </p>
 
  <form action="{{ path('gb_creation_admin_item_delete', { 'id': item_id }) }}" method="post">
    <a href="{{ path('gb_creation_admin_items_show') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}